* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

.wave-container {
  position: relative;
  background: #09f;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.wave-container > svg {
  display: block;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #09f;
  color: #fff;
  padding-right: 5%;
}
.navbar-brand {
  color: #fff;
  font-weight: 900;
  padding-left: 5%;
}

.navbar-nav li {
  padding: 0 10px;
  float: left;
  text-align: center;
  color: #fff;
}

.navbar-nav a {
  font-weight: 600;
  color: #fff;
}

.navbar-toggler-icon {
  color: #fff;
}

.dropdown {
  float: left;
}

.dropdown-menu {
  background: #f8f9fa;
  overflow: hidden;
}

.dropdown-menu li {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.dropdown-menu a {
  color: #09f;
  display: inline-block;
}

.dropdown-menu li :active {
  background: #09f;
  color: #fff;
}

.dropend {
  width: 100%;
}

.accordion {
  border: none;
  color: #fff;
}

.accordion ul {
  color: #fff;
  list-style: none;
}
.accordion-item {
  color: #fff;
  border: none;
}

.accordion ul li {
  color: #fff;
  list-style: none;
}

/*----------------------------------Breadcrumb---------------------------------------------*/

.breadcrumb {
  color: #fff;
  margin-top: 30px;
}
.breadcrumb li {
  margin: 0 5px;
}
.breadcrumb a {
  color: #fff;
}

.breadcrumb a:hover {
  color: #09f;
  text-decoration: none;
  background-color: #f8f9fa;
  padding: 5px;
}

/*-------------------------------Hero Section----------------------------------------------*/

#hero {
  background: #09f;
  padding-top: 5%;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 36px;
  font-weight: 600;
  margin-top: 5%;
}

.btn-outline-light {
  margin-bottom: 50px;
}

/*-------------------------------Services Section----------------------------------------------*/

#services {
  padding: 10px 0;
}

.service-container {
  padding: 0 10%;
}

.service-img {
  height: 100px;
  margin-top: 20px;
}

.services {
  padding: 20px;
  justify-content: space-between;
}

.services a {
  text-decoration: none;
  color: #111;
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}


.services:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(-10px,-10px);
}

.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.services h4:hover {
  color: #09f;
  text-decoration: underline;
}

.services p {
  text-align: center;
}

#services .btn-primary {
  box-shadow: none;
  border: none;
  padding: 8px 25px;
  border-radius: 20px;
  background: #09f;
}

/*-------------------------------AboutUs Section----------------------------------------------*/

#about-us {
  background: #f8f9fa;
  padding-top: 50px;
}

.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}

#about-us ul li {
  margin: 10px 0;
}

#about-us ul {
  margin-left: 10px;
}

/*-------------------------------Testimonials Section----------------------------------------------*/

#testimonials {
  margin: 50px 0;
}
.testimonials {
  background: #f8f9fa;
  border-left: 4px solid #09f;
  padding: 20px 30px;
  margin: 50px 0px;
  text-align: justify;
}
.testimonials img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.user-details {
  display: inline-block;
  font-size: 14px;
  align-self: center;
}

/*-------------------------------SocialMedia Section----------------------------------------------*/

#social-media {
  background: #f8f9fa;
  padding: 10px 0;
}

#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.social-icons img {
  width: 60px;
  transition: 0.5s;
}

.social-icons a:hover img {
  transform: translate(-20px, -10px);
}

/*-------------------------------Footer Section----------------------------------------------*/

#footer {
  background-color: #09f;
  padding: 50px;
  color: #fff;
}

#footer p {
  font-size: 14px;
}

.footer-description {
  text-align: justify;
}

.footer-title {
  font-size: 18px;
  text-align: center;
}

.footer-box {
  padding: 20px;
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  color: #09f;
  background: #fff;
}

.footer-box .form-control {
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-outline-light {
  box-shadow: none !important;
  border-radius: 0;
  margin-top: 25px;
}

hr {
  background-color: #fff;
}
.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}

/*-------------------------------About Page----------------------------------------------*/

/*-------------------------------Bio Section----------------------------------------------*/

.bio-img {
  width: 200px;
  height: 200px;
}

.bio-title {
  font-weight: 600;
  font-size: 24px;
  margin: 20px;
}
.bio-container {
  margin: 50px 0px;
  padding: 10px 5px;
}
.bio-p {
  font-size: 18px;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 1.8;
  word-spacing: 5px;
  text-align: justify;
}

#description h1 {
  color: #111;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center;
}

#description h2 {
  color: #111;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  margin: 0 0 24px;
  padding: 0 30px;
  text-align: center;
}

#description p {
  color: #111;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 24px;
  font-size: 18px;
  line-height: 1.8;
  word-spacing: 5px;
  text-align: justify;
}

.divider {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: #09f;
  border: 1px solid rgb(48, 49, 51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}
